.add-a-task {
  justify-content: center;
  background-color: #9FB1BC;
  width: 35rem;
  color: #2E5266;
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 25px;
  padding-top: 20px;
  padding-left:15px;
  /* padding-bottom: 10px;
  padding-right: 5px; */
}

.col {
  width: 50% important;
}

.nav-button {
  background-color: white;
  border-radius: 5px;
  color: black;
  margin-top: 5%;
  margin-left: 5%;
}

/* .navbar-alignment {
  display: flex;
  flex-direction: column;
} */

.your-todo-list{
  background-color: #9FB1BC;
  width: 10020px;
  color: #2E5266;
  border-radius: 15px;
  margin-top: 10px;
  padding: 25px;
}

img {
  margin-left: 50px;
  width: 100px;
  height: 100px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
